<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="navbar :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="navbar :: my-navbar"></nav>
<div sec:authorize="isAuthenticated()">
<div class="container">
    <form
            th:action="${'/posts/' + post.id + '/edit'}"
            method="post"
            th:object="${post}"
            th:include="fragments :: form"
    >
    </form>
    <form method="post" action="/post/delete">
        <input type="hidden" name="id" th:value="${post.id}"/>
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
</div>
</body>
</html>