<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="navbar :: head">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
</head>

<body>
<nav th:replace="navbar :: my-navbar"></nav>
<div class="container-fluid">
<div class="row">
    <div class="col-md-8">
        <h1>Derek W. Frye</h1>
        <p>Full Stack Web Developer transitioning from 10+ years of working as a Sales and Marketing Executive.</p>
    </div>
    <div class="col-md-4">
        <ul>13243 Woodthorn Way</ul>
        <ul>San Antonio, TX 78249</ul>
        <ul>(260) 494-7395</ul>
        <ul><a href="mailto:derekwfrye@gmail.com">derekwfrye@gmail.com</a></ul>
        <ul><a href="https://github.com/frenchfryes">https://github.com/frenchfryes</a></ul>
    </div>
</div>
</div>
</body>
</html>
